 * {
     padding: 0;
     margin: 0;
 }

 header h1:first-child {
     text-align: center;
     background-color: #b6b3b3;
     text-transform: uppercase;
     padding: 20px;
     position: relative;
 }

 header h1:first-child:hover {
     text-align: center;
     background-color: greenyellow;
     text-transform: uppercase;
     color: orange;
 }

 body {
     /* border: 5px solid black; */
     line-height: 1;
     background-image: linear-gradient(to right, #b6adb6, #0d47b3, #c189db);
     position: relative;
 }

 /* button {
     background-color: black;
     color: white;
     font-size: x-large;
 } */

 .more-info:link {
     background-color: #a49ba7;
     color: black;
     font-weight: bold;
     text-decoration-line: none;
     margin: 0 auto;
     display: block;
     font-size: 30px;
     padding: 15px;
 }

 .more-info:hover,
 .more-info:active {
     background-color: greenyellow;
     color: orange;
     font-weight: bold;
     text-decoration-line: underline;


 }

 /* button:hover {
     background-color: white;
     color: black;
     cursor: pointer;
     border: none;
 } */

 .price {
     font-size: 22px;
 }

 .shipping {
     color: #1a1515;
     font-weight: bold;
     font-size: larger;
     font-size: 22px;
 }

 /* .my-list {
     list-style-type: circle;
 } */

 button.hover-button {
     background-color: black;
     color: white;
     font-size: x-large;
 }

 button.after-hover:hover {
     background-color: white;
     color: black;
     cursor: pointer;
     border: none;
 }

 .container {
     width: 1000px;
     border: 5px solid black;
     margin: 30px auto;
     background-image: image-set();
     position: relative;
 }

 .article-class {
     position: relative;
 }

 .article-class p {
     padding-bottom: 10px;
 }

 .my-list li {
     padding-bottom: 10px;
 }

 .header-button {
     background-color: black;
     color: white;
     display: inline-block;
     margin: 0 auto;
     width: 100px;
     height: 100px;
     font-size: 30px;
     font-weight: bold;
     cursor: pointer;
     position: absolute;
     right: 400px;
     top: -150px;
     text-align: center;
 }

 img.shoes {
     padding-bottom: 20px;
 }

 .shoes-man {
     display: inline-block;

 }


 /* .last-div-section {
    border-top: 5px solid black;
 } */

 #w3schools {
     border-top: 5px solid black;
     width: 100%;
     display: block;
     margin: 0 auto;
     height: 100%;
     padding-bottom: 10px;
     text-align: center;
     font-size: 50px;
 }

 .product-details {
     margin-bottom: 10px;
     text-decoration: underline;
     margin-top: 10px;
 }

 .my-list li {
     padding-bottom: 10px;
     margin-left: 20px;
 }

 .price-word {
     font-size: 22px;
     font-weight: bold;
     text-decoration: underline;
 }

 h1:first-child::after {
     content: "Sale";
     background-color: #df4040;
     color: white;
     position: absolute;
     top: -20px;
     left: -20px;
     padding: 10px;
     font-size: medium;
     letter-spacing: 3px;
     width: 60px;

 }

 .color {
     width: 30px;
     height: 30px;
     display: inline-block;
     margin-top: 10px;
     margin-right: 10px;
     display: inline-block;

 }

 .box1 {
     background-color: #0d47b3;
 }

 .box2 {
     background-color: #721297;
 }

 .box3 {
     background-color: #13b30d;
 }

 .box4 {
     background-color: #9ab30d;
 }


 .box5 {
     background-color: #b3870d;
 }

 .box5 {
     margin-right: 0;
 }

 #xButton {
     background-color: white;
     color: black;
     width: 20px;
     position: absolute;
     top: 0;
     right: 0;
 }

 /* 
 #search {
    display: inline;
 } */

 #searchBox {
     margin-bottom: 10px;

 }

 .search-label {
     font-weight: bold;
 }

 .submit {
     padding: 0.5px;
 }

 .table1 {
     width: 700px;
     height: 50px;
     border: 5px solid black;
     margin-bottom: 10px;
 }

 table {
     table-layout: fixed;
     width: 100%;
     background-image: linear-gradient(to right, #0d47b3, #13b30d);
     /* border-collapse: collapse; */
 }

 td,
 th {
     width: 70px;
     height: 70px;
     padding: 10px;
     text-align: center;
     border: 1px solid black;
 }
