* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Rubik', sans-serif;
}

.container {
    margin: 0 auto;
    width: 1200px;
    position: relative;
}

header {
    background-color: rgb(34, 34, 122);
    height: 100vh;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url(img/hero.jpg);
    background-size: cover;

}

.logo {
    position: relative;
    display: block;
}

.dropdown-container {
    width: 500px;
    background-color: grey;
    display: none;
    text-decoration: none;
    font-size: 10px;
    font-weight: bold;
}

.logo:hover .dropdown-container {
    display: block;
}

nav {
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 40px;
}



.header-container {
    width: 1200px;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 50%);
    padding: 30px;
}

.header-container-inner {
    width: 50%;
}

.header-container .btn {
    width: 48px;
    height: 48px;
    background-color: rgb(230, 65, 5);
    color: white;
    text-decoration: none;
    padding: 15px;
    border-radius: 7px;
    font-size: 20px;
    font-weight: 600;
}

h1 {
    font-size: 42px;
    margin-bottom: 32px;
    color: white;
}

p {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 48px;
    color: white;
}

.btn:link,
.btn:visited {
    width: 48px;
    height: 48px;
    background-color: rgb(230, 65, 5);
    color: white;
    text-decoration: none;
    padding: 15px;
    border-radius: 7px;
    font-size: 20px;
    font-weight: 600;
}

h2 {
    font-size: 34px;
    margin-top: 28px;
    color: white;
}

section {
    padding: 96px 0;
    background-color: #f7f7f7;
}