/* * {
    padding: 0;
    margin: 0;
} */

h1,
h2,
h3,
p,
li {
    font-family: sans-serif;

}

h1,
h2,
h3 {
    color: #5241ee;
}

h1::first-letter {
    font-size: 35px;
    text-transform: none;
}

.book-emoji::first-letter {
    font-style: normal;
}

h2 {
    font-size: 25px;
    font-family: none;
    font-style: inherit;
}

h3 {
    font-size: 15px;
    font-style: italic;
    text-transform: uppercase;
    text-align: left;
}

p {
    font-size: 15px;
    font-style: normal;
    line-height: 1;
    color: #242323;
}

li {
    font-size: medium;
}

footer p {
    font-size: 20px;
}

header h1 {
    font-style: italic;
    margin-bottom: 20px;
}

/* #author {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: blue;
    background-color: whitesmoke;
} */

#author:hover {
    cursor: pointer;
    color: orange;
    background-color: greenyellow;
}

#copyright {
    font-size: 16px;
}

.related-author {
    font-size: 18px;
    font-weight: bold;
    color: #242323;
}

.related {
    list-style: none;
}

.top-header {
    background-color: #15c2f7;
    border: 5px solid #585151;
    padding: 20px 40px;
    margin-bottom: 20px;
    height: 200px;
}

.related-posts {
    background-color: #788383;
    border: 5px solid #2d05bd
}

.second-header {
    background-color: #bdbaba;
    border: 5px solid;
    margin-bottom: 20px;
    position: relative;
}

.div-class {
    background-color: #a8a4d1;
    border: 5px solid;
    margin-bottom: 20px;
}

/* .first-list {

    border: 5px solid #242323;
} */

/* li:first-child {
    font-weight: bold;
}

li:nth-child(2) {
    color: brown;
    font-weight: bold;
} */

nav a:link {
    font-weight: bold;
    color: #969494;
    display: inline-block;
    padding-right: 10px;
}

nav a:link:last-child {
    padding: 0;
}

a:visited {
    color: #242323;
}

a:hover {
    color: #f36017;
    font-family: 'Courier New', Courier, monospace;
}

a:active {
    color: #2d05bd;
}

.first-list {
    margin-bottom: 20px;
}

body {
    /* margin: 50px 10px; */
    border: 5px solid blue;
    background-image: linear-gradient(to right, #c6ccce, #4d2bc9, #5241ee);
}

aside {
    padding-top: 50px;
    padding-bottom: 50px;
}

.html-image {
    width: 70%;
    height: 100%;
    margin-top: 50px;
    display: inline-block;
    margin-left: -100px;


}


.container {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.like-button {
    background-color: orange;
    color: purple;
    padding: 20px;
    border: 3px solid black;
    cursor: pointer;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;

    /* top:50px;
    left:50px; */
}

.scroller {
    background-color: greenyellow;
    font-weight: bold;
    cursor: pointer;
}

.scroller:hover {
    background-color: orange;
    color: purple;
    font-weight: bold;
}

h3+p::first-line {
    color: #461146;
    font-weight: bold;
}

h2::after {
    content: "TOP";
    background-color: #ffff00;
    position: absolute;
    top: 0;
    right: 73px;
    padding: 16px;
    color: #5732dd;
    font-weight: bold;
}

/* floats */

.author-class {
    padding-left: 10px;
    padding-top: 10px;
    float: left;
    text-align: center;
    padding-right: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: blue;
    background-color: whitesmoke;
    bottom: 0;

}

.author-image {
    width: 100px;
    height: auto;
    float: left;
    margin-bottom: 50px;
}

h1 {
    float: left;
}

/* nav {
    float: right;
} */

.clear {
    clear: both;
}